DB_HOST=[localhost]
DB_PORT=[5432]
DB_USERNAME=[db_username]
DB_PASSWORD=[db_password]
DB_DATABASE=[db_name]

JWT_SECRET=la-super-clef-du-grand-sandaniainaadrien
JWT_EXPIRES_IN=1d

JWT_REFRESH_SECRET=la-super-clef-du-grand-sandaniainaadrien2
JWT_REFRESH_EXPIRES_IN=7d


SMTP_HOST=[smtp.gmail.com]
SMTP_PORT=[587]
SMTP_SECURE=[false]

SMTP_USER=[email-an-lah-lty-ah@gmail.com]
SMTP_PASSWORD=[clef_de_l_application]
SMTP_FROM="Enrolment Application <no-reply@example.com>"

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=[db_url_generer par prisma copy + paste + modif]